* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.form-container {
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
}

.form {
    flex-basis: 40%;
    background-color: lightgray;
    border: 2px solid gray;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &__title {
        font-size: 1rem;
        flex-basis: 100%;
        text-align: center;
        margin: 20px;
        font-family: 'Arial';
    }
    &__input {
        margin: 5px 0;
        flex-basis: 45%;
        height: 30px;
        font-family: 'Arial';
        padding-left: 10px;
        color: black;
        font-size: 0.7rem;
        border: none;
    }

    &__button {
        display: block;
        padding: 4px 8px;
        margin: 20px 0;
        flex-basis: 70%;
        text-transform: uppercase;
        border: 1px solid black;
        font-size: 0.7rem;
    }
}

.result, .content, .footer {
    max-width: 1200px;
    margin: 0 auto;
}
.footer {
    background-color: black;
    color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.result {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    &__info {
     flex-basis: 100%;
     margin: 20px 0;
    }

    &__element {
        flex-basis: 45%;
        text-align: left;
        margin:20px 0;
    }
}

.content {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    &__info {
        flex-basis: 100%;
        margin: 20px 0;
    }
}